#####################################################################
#   Nozzle Cleaner
#####################################################################    
[gcode_macro CLEAN_NOZZLE]
variable_start_x: 225
variable_start_y: 303.5
variable_start_z: 1.5
variable_wipe_dist_y: -3
variable_wipe_qty: 5
variable_wipe_spd: 50
variable_raise_distance: 29

gcode:
 {% if "xyz" not in printer.toolhead.homed_axes %}
   status_homing
   M117 homing
   G28
 {% endif %}
 
 G90                                            ; absolute positioning
 G1 X225 Y295 F6000
 status_heating
 M117 heating
 M109 S210
 status_busy
 #M117 waiting
 #G4 P60000
 ## Move nozzle to start position
  status_cleaning
  M117 cleaning
  G1 Z{start_z} F1500
  G1 X{start_x} Y{start_y} F6000

 ## Wipe nozzle
 {% for wipes in range(1, (wipe_qty + 1)) %}
   #WIPE LEFT
   G1 X{start_x + 10} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + 10} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + 10} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + 10} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + 10} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   #WIPE RIGHT
   G1 X{start_x - 10} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - 10} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - 10} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - 10} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - 10} Y{start_y + wipe_dist_y} F{wipe_spd * 300}

   #M109 S100
 {% endfor %}

 ## Raise nozzle after complete
 G1 Z{raise_distance}

[gcode_macro CLEAN_PURGE_NOZZLE]
variable_start_x: 200
variable_start_y: 303.5
variable_start_z: 1
variable_wipe_dist_y: -3
variable_wipe_qty: 5
variable_wipe_spd: 50
variable_raise_distance: 29
variable_purge_loc_x: 110
variable_purge_loc_y: 299

gcode:
 {% if "xyz" not in printer.toolhead.homed_axes %}
   status_homing
   M117 homing
   G28
 {% endif %}
 
 G90                                            ; absolute positioning
 G1 X285 Y306 F6000
 status_heating
 M117 heating
 M109 S210
 status_busy
 #M117 waiting
 #G4 P60000
 ## Move nozzle to start position
  status_cleaning
  M117 cleaning
  G1 Z{start_z} F1500
  G1 X{start_x} Y{start_y} F6000

 ## Wipe nozzle
 {% for wipes in range(1, (wipe_qty + 1)) %}
   #WIPE LEFT
   G1 X{start_x + 10} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + 10} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + 10} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + 10} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x + 10} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   #WIPE RIGHT
   G1 X{start_x - 10} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - 10} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - 10} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - 10} Y{start_y - wipe_dist_y} F{wipe_spd * 300}
   G1 X{start_x - 10} Y{start_y + wipe_dist_y} F{wipe_spd * 300}
   
 {% endfor %}

 ## Raise nozzle after complete
 G1 Z{raise_distance}
 G1 X{purge_loc_x}
 G1 Y{purge_loc_y}
 G92 E0
 G1 E40.0 F100
 G92 E0
 G1 E-4.0 F300
 G1 Z{start_z}
 G1 Y{start_y}
 G1 X 190 F1000

